<!DOCTYPE html>
<html>
  <head>
    <title>Help for the Elders</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <h4>If you want to deliver things you have to sign up.</h4>

    <form action="#" method="post">
      <label>First Name</label>
      <input type="text" name="deliver_firstName" />
      <br />
      <br />
      <label>Last Name</label>
      <input type="text" name="deliver_lastName" />
      <br />
      <br />
      <label>Email</label>
      <input type="email" name="deliver_email" />
      <br />
      <br />
      <label>Phone number</label>
      <input type="tel" name="deliver_phone" />
      <br />
      <br />
      <label>Password</label>
      <input type="password" name="passw" />
      <br />
      <br />
      <input type="submit" />
    </form>
  </body>
</html>
